.header__content
    a.header__logo.logo(href="./index.html" aria-label="logo")
        img.logo__icon(src="./img/icons/logo.svg", alt="" width="60" height="30")
    .header__nav
        include ../menu/menu.pug
