extends common/layout.pug

block meta
    title Demo
    meta(name='description', content='')

block head
    link(rel='stylesheet', href='css/index-style.min.css')


//- block content

//- block append page-bottom
//-     include blocks/demo-page/modal/modal.pug
