footer.footer
    .box
        .footer__row
            .footer__head
                .footer__head-wrap
                    include ../logo/logo.pug
                    .footer__text
                        p Legal cryptocurrency exchange<br>market and safe wallet

                .footer__social
                    include ../social/social.pug

            .footer__content
                .footer__col
                    h4.footer__list-title Info
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") About Us
                        li.footer__list-item
                            a.footer__list-link(href="#!") Fees
                        li.footer__list-item
                            a.footer__list-link(href="#!") Token Listing
                        li.footer__list-item
                            a.footer__list-link(href="#!") Strade Blog

                .footer__col
                    h4.footer__list-title legal
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="./legal.html") Terms of Use
                        li.footer__list-item
                            a.footer__list-link(href="./legal.html") Privacy Policy
                        li.footer__list-item
                            a.footer__list-link(href="./legal.html") Trading Rules
                        li.footer__list-item
                            a.footer__list-link(href="./legal.html") AML Policy
                .footer__col
                    h4.footer__list-title Service
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") Exchange
                        li.footer__list-item
                            a.footer__list-link(href="/wallet.html") Wallet
                        li.footer__list-item
                            a.footer__list-link(href="./buy-crypto.html") But Crypto
                        li.footer__list-item
                            a.footer__list-link(href="./swap.html") Swap

                .footer__col
                    h4.footer__list-title Support
                    ul.footer__list
                        li.footer__list-item
                            a.footer__list-link(href="#!") FAQ
                        li.footer__list-item
                            a.footer__list-link(href="#!") Help Center
                        li.footer__list-item
                            a.footer__list-link(href="#!") Verification
                        li.footer__list-item
                            a.footer__list-link(href="#!") API Documentation

        .footer__bottom
            .footer__date 2021-06-30 09:45:56 UTC +00
            .footer__copy Copyright &copy; 2021. All Rights Reserved
