ul.social
    li.social__link-wrap
        a.social__link(href="https://twitter.com/" target="_blank" rel="noreferrer" aria-label="twitter")
            svg.social__icon(width="12" height="12")
                use(xlink:href="#twitter-icon")
    li.social__link-wrap
        a.social__link(href="https://facebook.com/" target="_blank" rel="noreferrer" aria-label="facebook")
            svg.social__icon(width="12" height="12")
                use(xlink:href="#facebook-icon")
    li.social__link-wrap
        a.social__link(href="https://web.telegram.org" target="_blank" rel="noreferrer" aria-label="telegram")
            svg.social__icon(width="12" height="12")
                use(xlink:href="#telegram-icon")
    li.social__link-wrap
        a.social__link(href="https://instagram.com/" target="_blank" rel="noreferrer" aria-label="instagram")
            svg.social__icon(width="12" height="12")
                use(xlink:href="#instagram-icon")
